<!DOCTYPE html>
<html>
<head>
  <title>A Vue.js Calculator</title>
  <script type="text/javascript" src="vue.js"></script> 
  <style>
    p, input { font-family: monospace; }
    p { white-space: pre; }
  </style>
</head>
<body>
  <div id="app">
    <p>x <input v-model="x"></p>
    <select v-model="selectedOp">
        <option v-for="op in operators" >{{ op }}</option>
    </select>
    <p>y <input v-model="y"></p>
    
    <p>---------------------</p>

    <p>= {{result}}</p>
  </div>

 
  <script>
    function isNotNumericValue(input) {
      return isNaN(input) || !isFinite(input);
    }
    var calc = new Vue({
      el: '#app',
      data: { 
            x: 0, 
            y: 0, 
            lastResult: 0,
            operators: ["+", "-", "*", "/", "%"],
            selectedOp: "+"
        },
      computed: {
        result: function() {
            let x = parseFloat(this.x);
            if(isNotNumericValue(x))
                return this.lastResult;

            let y = parseFloat(this.y);
            if(isNotNumericValue(y))
                return this.lastResult;

            if (this.selectedOp == "+")
                this.lastResult = x + y;
            else if (this.selectedOp == "-")
                this.lastResult = x - y;
            else if (this.selectedOp == "*")
                this.lastResult = x * y;
            else if (this.selectedOp == "/")
                this.lastResult = x / y;
            else if (this.selectedOp == "%")
                this.lastResult = x % y;

            return this.lastResult;
        }
      }
    });
  </script>
</body>
</html>
